/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker {
  font-size: 14px;
  font-family: "PT Sans";
  text-align: left;  
  color: #000000;
  position: absolute;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**
 * The picker input element.
 */
.picker__input {
  cursor: default;
}
/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  /*border-color: #0089ec;*/
}
.picker__input--active {
	background-image: url('../../images/dateico2.png');
	background-position: 20px center;	
	color: #fff;
	background-color: black;	
}

#miniheader .picker__input--active span {
	background-image: url('../../images/minidateico1.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 63px;
	height: 36px;
	padding: 0;
}
#miniheader .picker__input--active {
	background: #3b3b3b;
	background: -moz-linear-gradient(top, #3b3b3b 0%, #181818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#181818));
	background: -webkit-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -o-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -ms-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: linear-gradient(to bottom, #3b3b3b 0%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#181818',GradientType=0 );
}

/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/*!
 * Classic picker styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker {
  /*width: 100%;*/
  width: 244px;
}
/**
 * The holder is the base of the picker.
 */
.picker__holder {
  position: absolute;
  background: #ffffff;
  /*border: 1px solid #aaaaaa;
  border-top-width: 0;
  border-bottom-width: 0;*/
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  /*border-radius: 0 0 5px 5px;*/
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  min-width: 176px;
  max-width: 466px;
  max-height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: all 0.15s ease-out, max-height 0 0.15s, border-width 0 0.15s;
  -moz-transition: all 0.15s ease-out, max-height 0 0.15s, border-width 0 0.15s;
  transition: all 0.15s ease-out, max-height 0 0.15s, border-width 0 0.15s;
}
/**
 * The frame and wrap work together to ensure that
 * clicks within the picker don’t reach the holder.
 */
.picker__frame {
  /*padding: 1px;*/
}
.picker__wrap {
 /* margin: -1px;*/
}
/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
  max-height: 25em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;

  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: all 0.15s ease-out, max-height 0, border-width 0;
  -moz-transition: all 0.15s ease-out, max-height 0, border-width 0;
  transition: all 0.15s ease-out, max-height 0, border-width 0;
  -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
}
