* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font-size: 12px;
	color: #2c2c2c;
	font-family: "PT Sans",arial;
	width: 100%;
	height: 100%;
	background-color: #1a388d;
   background-image: url('../images/main.png');	
   background-position: top left;
   background-repeat: repeat-x;
}
body * {
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}

h1 {
	font-weight: 700;
	color: black;
	font-size: 33px;
	line-height: 33px;
	color: #1a1a1a;
	font-family: "PT Sans";
	margin-bottom: 20px;
}
h3 {
	font-weight: 700;
	color: black;
	font-size: 16px;
	line-height: 16px;
	color: #1a1a1a;
	font-family: "PT Sans";
	margin:25px 0 15px;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-image: url('../images/patt.png');	
}
#wrapperpage {
	width: 1124px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
   padding-top: 8px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	/*height: 150px;*/
	width: 1000px;
	margin: 0 auto;	
	background: transparent  !important;
	/*background-color: rgba(0,0,0,0.5);*/

}
.textpage_subheader {
	
	background-color: rgba(21,47,121,0.5);
	width: 1124px;
	margin: 0 auto;	
	margin-top: 20px;
}
.textpage_subheader nav {
   width: 1000px;
	margin: 0 auto;
}
.logo {
	float: left;
	width: 200px;
	margin-top: 9px;
}

.submenu {
	float: right;
	width: 690px;
}

.infopanel {
	float: left;
	width: 160px;
}

nav ul.mainmenu {
    display: table;
    width: 1000px;
    border: 0px solid #222;
    padding: 0;
}
nav ul.mainmenu li {
    display: table-cell;
}
nav ul.mainmenu li a {
    display: block;
    color: #222;
    text-decoration: none;
    padding: 6px 23px;
    text-align: center;
    font-family: 'PT Sans Caption';
    font-size: 14px;
    font-weight: 700;
 	 background: #2c2c2c;
	 background: -moz-linear-gradient(top, #2c2c2c 0%, #181818 100%);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#181818));
	 background: -webkit-linear-gradient(top, #2c2c2c 0%,#181818 100%);
	 background: -o-linear-gradient(top, #2c2c2c 0%,#181818 100%);
	 background: -ms-linear-gradient(top, #2c2c2c 0%,#181818 100%);
	 background: linear-gradient(to bottom, #2c2c2c 0%,#181818 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#181818',GradientType=0 );    
    color: white;
    border-right: 1px solid #2e2e2e;
}
nav ul.mainmenu li a:hover, nav ul.mainmenu li.active {
	background: #3b3b3b;
	background: -moz-linear-gradient(top, #3b3b3b 0%, #181818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#181818));
	background: -webkit-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -o-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -ms-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: linear-gradient(to bottom, #3b3b3b 0%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#181818',GradientType=0 );
    color: #fff;   
  
}
nav ul.mainmenu li.active a {
   /*color: #f5a900;   
   background-image: url('../images/selmm1.gif');		 
	background-position: center center;
	background-repeat: no-repeat;   */
}

nav ul.mainmenu .menuitem1,nav ul.minimainmenu .menuitem1 { 	border-top: 2px solid #306cc7; }
nav ul.mainmenu .menuitem2,nav ul.minimainmenu .menuitem2 { 	border-top: 2px solid #8e44ad; }
nav ul.mainmenu .menuitem3,nav ul.minimainmenu .menuitem3 { 	border-top: 2px solid #00a3cb; }
nav ul.mainmenu .menuitem4,nav ul.minimainmenu .menuitem4 { 	border-top: 2px solid #009a4d; }
nav ul.mainmenu .menuitem5,nav ul.minimainmenu .menuitem5 { 	border-top: 2px solid #c12945; }
nav ul.mainmenu .menuitem6,nav ul.minimainmenu .menuitem6 { 	border-top: 2px solid #b0a62e; }
nav ul.mainmenu .menuitem7,nav ul.minimainmenu .menuitem7 { 	border-top: 2px solid #f26522; }
nav ul.mainmenu .menuitem8,nav ul.minimainmenu .menuitem8 { 	border-top: 2px solid #6b7b84; border-right: 0px solid #2e2e2e; }

#miniheader {
	position: fixed;
	display: none;
	width: 100%;
	box-shadow: 0 2px 0 rgba(0,0,0,.63);
	z-index: 9999;
 	 background: #2c2c2c;
	 background: -moz-linear-gradient(top, #2c2c2c 0%, #181818 100%);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#181818));
	 background: -webkit-linear-gradient(top, #2c2c2c 0%,#181818 100%);
	 background: -o-linear-gradient(top, #2c2c2c 0%,#181818 100%);
	 background: -ms-linear-gradient(top, #2c2c2c 0%,#181818 100%);
	 background: linear-gradient(to bottom, #2c2c2c 0%,#181818 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#181818',GradientType=0 );	
}
.miniheaderwrap {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.minilogo {
	width: 125px;
	margin-top: 6px;
}
nav ul.minimainmenu {
    display: table;
    /*width: 1000px;*/
    border: 0px solid #222;
    padding: 0;
}
nav ul.minimainmenu li {
    display: table-cell;
}
nav ul.minimainmenu li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    text-align: center;
    font-family: 'PT Sans Caption';
    font-size: 12px;
    font-weight: normal; 
    color: white;
    border-right: 1px solid #2e2e2e;
}
nav ul.minimainmenu li a:hover, nav ul.minimainmenu li.active {
	background: #3b3b3b;
	background: -moz-linear-gradient(top, #3b3b3b 0%, #181818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#181818));
	background: -webkit-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -o-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -ms-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: linear-gradient(to bottom, #3b3b3b 0%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#181818',GradientType=0 );
    color: #fff;   
  
}


.searchform_link_mini {
	display: block;
	width: 63px;
	height: 36px;
	padding: 0;
	border-right: 1px solid #2e2e2e;
}
.searchform_link_mini span {
	background-image: url('../images/see2.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 63px;
	height: 36px;
	padding: 0;
}
.searchform_link_mini:hover {
	background: #3b3b3b;
	background: -moz-linear-gradient(top, #3b3b3b 0%, #181818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#181818));
	background: -webkit-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -o-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -ms-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: linear-gradient(to bottom, #3b3b3b 0%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#181818',GradientType=0 );
}




/* Middle
-----------------------------------------------------------------------------*/
#content_index {
	padding: 0 0 230px;
	background-color: white;
   -webkit-box-shadow: 0 -1px 42px 1px rgba(0,0,0,0.42);
   -moz-box-shadow: 0 -1px 42px 1px rgba(0,0,0,0.42);
   box-shadow: 0 -1px 42px 1px rgba(0,0,0,0.42);
   position: relative;
   margin-top: 95px;
   padding-top: 305px;
}
#content {
	padding: 0 0 280px;
	background-color: white;
   -webkit-box-shadow: 0 -1px 42px 1px rgba(0,0,0,0.42);
   -moz-box-shadow: 0 -1px 42px 1px rgba(0,0,0,0.42);
   box-shadow: 0 -1px 42px 1px rgba(0,0,0,0.42);
   position: relative;   
}


#index_offset_area {
	margin-top: -400px;
	position: absolute;
	background-color: #2c2c2c;
	height: 400px;
	overflow: hidden;
	margin-left: 62px;
	width: 1000px;
	color: white;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -230px auto 0;
	height: 230px;
	width: 1124px;
	background: #181818;
	color: white;
	position: relative;
}


#footer nav li {
    display: inline;
}

#footer nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    margin-right: 25px;
}

#footer nav li a:hover {
   text-decoration: underline;
}
#footer nav {
   padding-left: 63px;
   line-height: 34px;
	background: #18191b;
	background: -moz-linear-gradient(top, #18191b 0%, #2a2a2a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18191b), color-stop(100%,#2a2a2a));
	background: -webkit-linear-gradient(top, #18191b 0%,#2a2a2a 100%);
	background: -o-linear-gradient(top, #18191b 0%,#2a2a2a 100%);
	background: -ms-linear-gradient(top, #18191b 0%,#2a2a2a 100%);
	background: linear-gradient(to bottom, #18191b 0%,#2a2a2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18191b', endColorstr='#2a2a2a',GradientType=0 );   
}
#footer .dopinfo {
	float: left;
	width: 150px;
}

.cross-link {
	padding-top: 10px;
	width: 170px;
}

.footcontent {
	margin: 24px 63px 0 63px;
}
.footlogo {
	width: 211px;
}
.footcopy {
	font-size: 12px;
	color: #fff;
	line-height: 15px;
	font-weight: 700;	
}
.foottext {
	font-size: 9px;
	color: #7a7a7a;
	line-height: 14px;
	font-family: 'Arial';
	margin: 10px 0 17px;
}
.footdes {
	width: 180px;
	text-align: right;
}


.scrollup {
    background-image: url("../images/icotop.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0px;
    display: none;
    height: 64px;
    position: fixed;
    right: 0px;
    text-indent: -9999px;
    width: 138px;
    background-color: #0f1e48;

}
.scrollup:hover {
	background-color: rgba(16,31,75,0.5);
}

/* VARS */
.center {
	text-align: center;
}
.right {
	float: right;
}
.left {
	float: left;
}
.hide {
	display: none;
}
.cls {
	clear: both;	
}
.cls:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}
.upper {
	text-transform: uppercase;
}



.datepicker_link {
	background-image: url('../images/dateico1.png');
	background-position: 20px center;
	background-repeat: no-repeat;
	display: block;
	color: #75a1db;
	font-size: 17px;
	font-family: "PT Sans";
	font-weight: bold;	
	text-decoration: none;
	padding: 16px 20px 15px 54px;
}
.datepicker_link:hover {
	background-image: url('../images/dateico2.png');
	background-position: 20px center;	
	color: #fff;
	background-color: black;
}

.datepicker_link_mini {
	display: block;
	width: 63px;
	height: 36px;
	padding: 0;
	border-right: 1px solid #2e2e2e;
	border-left: 1px solid #2e2e2e;
}
.datepicker_link_mini span {
	background-image: url('../images/minidateico1.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 63px;
	height: 36px;
	padding: 0;
}
.datepicker_link_mini:hover {
	background: #3b3b3b;
	background: -moz-linear-gradient(top, #3b3b3b 0%, #181818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#181818));
	background: -webkit-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -o-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: -ms-linear-gradient(top, #3b3b3b 0%,#181818 100%);
	background: linear-gradient(to bottom, #3b3b3b 0%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#181818',GradientType=0 );
}

/* search form */
#search {
    z-index: 100;
    position: relative;
    /*width: 35%;*/
}
#search input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #a9a9a9;
    float: left;
    font-size: 13px;
}
#search input[type="search"], #search input[type="text"] {
    background: url('../images/searchform1.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 33px 10px 14px;
    width: 300px;
}
#search input[type="submit"] {
    /*background: url("/wp-content/themes/dimox.name/i/rss.png") no-repeat scroll 0 40px rgba(0, 0, 0, 0);*/
    cursor: pointer;
    height: 33px;
    right: 0px;
    position: absolute;
    width: 40px;
}

.search_form_mini {
	position: absolute;
	right: 0;
	top: 0;
    background-color: #4a4a4a;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.3) inset;	
    display: none;
}
.close_mini_search {
	display: block;
	width: 35px;
	height: 35px;
	border: 0px solid;
	background-image: url('../images/seeclose.png');
	background-position: center 12px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
}
#search_mini {
    /*z-index: 100;*/
    position: relative;
    width: 360px;
    

}
#search_mini input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 700;
    font-family: "PT Sans";
    padding: 
}
#search_mini input[type="search"], #search_mini input[type="text"] {
    background: url('../images/searchform2.png') no-repeat scroll 10px center rgba(0, 0, 0, 0);
    padding: 10px 25px 10px 33px;
    width: 278px;
}
#search_mini input[type="submit"] {
    /*background: url("/wp-content/themes/dimox.name/i/rss.png") no-repeat scroll 0 40px rgba(0, 0, 0, 0);*/
    cursor: pointer;
    height: 35px;
    left: 0px;
    position: absolute;
    width: 30px;
}
 

/* production */

.area_curs, .area_celendar, .area_search {
	float: right;
	background-color: rgba(15,37,101,0.56);
	margin-left: 2px;
	height: 55px;
}

.area_curs {
	color: #86b5ea;
	height: 55px;
	width: 145px;
	padding: 0 3px 0 10px;
}

.area_curs_title  {
	margin-top: 7px;
	padding-bottom: 2px;
}

.area_search {
	padding: 11px 11px 11px 14px;
	width: 352px;
	height: 33px;
}

.today_area {
	margin: 0px 0 6px 0;
	font-size: 12px;
	font-weight: bold;
	color: white;
	padding-bottom: 15px;
	padding-top: 5px;
}

.bann1000_90 {
	margin: 5px 0 6px 0;
}

.today_area span {
	padding-right: 4px;
}
.today_area .day_name {
	background-color: red;
	padding: 0px 4px;
	text-transform: uppercase;
}
.last_post_date {
	color: #86b5ea;
}

.content_index_topblock_area1,.content_index_topblock_area2,.content_index_topblock_area3 {
	float: left;
}
.content_index_topblock_area1 {
	width: 342px;
}
.topblock_tophot {
	padding: 17px 17px;
}
.topblock_tophot img {
	
}
.topblock_tophot_link {
	font-size: 22px;
	line-height: 22px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	margin: 6px 0;
	display: block;
}
.topblock_tophot_link:hover {
	text-decoration: underline;
}
.topblock_tophot_text {
	color: #d0d0d0;
	font-size: 12px;
	line-height: 15px;
	font-family: 'Arial';
	margin: 4px 0 13px 0;
}
.topblock_tophot .post_data {
	color: #888;
}
.topblock_hotlist_item .post_data {
	color: #888;
}
.content_index_topblock_area2 {
	width: 418px;
}
.topblock_hotlist_item {
	padding: 14px;
	margin-right: 14px;
	border-bottom: 1px solid #3f3f3f;
}
.topblock_hotlist_item .topblock_hotlist_item_img {
	float: left;
	display: block;
	width: 130px;
	margin-top: 5px;
}
.topblock_hotlist_item_last {
	border-bottom: 0;
}
.tophot {
	background-color: #3e3e3e;
}
.topblock_hotlist_link {
	font-size: 16px;
	line-height: 17px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	margin: 6px 0;
	display: block;	
}
.topblock_hotlist_link:hover {
	text-decoration: underline;
}
.tophot .topblock_hotlist_link {
	color: #fff9c2;
}
.topblock_hotlist_item img {
	
}
.topblock_hotlist_linkblock {
	float: left;
	width: 240px;
	margin-top: -5px;
}
.content_index_topblock_area3 {
	width: 240px;
	height: 400px;
	overflow: hidden;
}


.textpage_tophot {
	width: 1000px;
	margin: 0 auto;
	margin-top: 7px;
	padding-bottom: 17px;
}
.textpage_hotlist_item {
	float: left;
	width: 314px;
	padding: 8px;
	height: 95px;
	margin-right: 2px;
}
.textpage_tophot_img {
	float: left;
	display: block;
	width: 127px;
	margin-top: 5px;	
}

.textpage_tophot .topblock_hotlist_linkblock {
	float: left;
	width: 180px;
	margin-top: -5px;	
}
.textpage_tophot .fullwidth {
	float: left;
	width: 100%;
	margin-top: -5px;	
}
.textpage_topblock_hotlist_link {
	font-size: 16px;
	line-height: 17px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	margin: 6px 0;
	display: block;	
}
.textpage_tophot .tophot {
	background-color: #28468d;
}
.textpage_tophot .tophot .topblock_hotlist_linkblock a {
	color: #fff9c2;
}
.textpage_tophot .topblock_hotlist_linkblock a:hover {	
	text-decoration: underline;
}


.post_data {
	background-image: url('../images/dico.png');
	background-position: left center;
	background-repeat: no-repeat;		
	padding-left: 19px;
	color: #ababab;
	font-size: 10px;
}
.post_data span {
	padding: 2px 10px 2px 0px;
}
.razdel_link_simple {
	color: #ABABAB;
	text-decoration: none;
}
.razdel_link_simple:hover {
	color: #3b3b3b;
}
.razdel_link1 {
	background-color: #306cc7;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}
.razdel_link2 {
	background-color: #8e44ad;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}
.razdel_link3 {
	background-color: #00a3cb;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}
.razdel_link4 {
	background-color: #009a4d;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}
.razdel_link5 {
	background-color: #c12945;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}
.razdel_link6 {
	background-color: #b0a62e;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}
.razdel_link7 {
	background-color: #f26522;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}
.razdel_link8 {
	background-color: #6b7b84;
	border-radius: 2px;
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 7px;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
	text-decoration: none;
	text-transform: uppercase;
   line-height: 20px;
}


.raised {
    box-shadow: 0 14px 9px -14px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);/*, 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}

.raisedsm {
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);/*, 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}


.index_main_content_block {
	
}

.lead_block {	width: 549px; margin-top: 20px;}

.lenta_block { width: 272px; background-color: #f4f4f4; }

.partner_block { width: 241px;  margin-top: 17px; }


/* index razdels */

.razdel_block {
	margin-bottom: 20px;
	padding-right: 19px;
}
.razdel_caption {
	text-transform: uppercase;
	font-size: 15px;
	color: white;
	font-weight: 700;
	font-family: "PT Sans Caption";	
	padding: 4px 0px 4px 63px;
	background-image: url('../images/captionico.png');
	background-position: right center;
	background-repeat: no-repeat;	
	margin-bottom: 20px;
}
.caption_menu1 { 	background-color: #306cc7; }
.caption_menu2 { 	background-color: #8e44ad; }
.caption_menu3 { 	background-color: #00a3cb; }
.caption_menu4 { 	background-color: #009a4d; }
.caption_menu5 { 	background-color: #c12945; }
.caption_menu6 { 	background-color: #b0a62e; }
.caption_menu7 { 	background-color: #f26522; }
.caption_menu8 { 	background-color: #6b7b84; }

.razdel_block_news_item {
	padding-left: 63px;
	margin-bottom: 15px;
}
.razdel_block_news_item_img {
	float: left;
	width: 130px;
}
.razdel_block_news_item_linkblock {
	float: left;
	width: 335px;
}
.hotitem  .razdel_block_news_item_linkblock {
	float: left;
	width: 320px;
	/*padding-right: 15px;*/
}
.razdel_block_news_item_link {
	font-size: 16px;
	line-height: 16px;
	color: #2c2c2c;
	font-weight: 700;
	text-decoration: none;
	margin: 6px 0;
	display: block;	
}
.razdel_block_news_item_link:hover {
	text-decoration: underline;
}
.razdel_block_news_item_text {
	font-size: 12px;
	font-family: 'Arial';
	line-height: 15px;
	padding: 1px;
}
.hotitem  .razdel_block_news_item_linkblock {
	float: left;
	width: 320px;
	/*padding-right: 15px;*/
}
.fullwidth, .razdel_block .fullwidth {
	width: 100%;
}
.hotitem {
	background-color: #fff9c2;
	padding-top: 10px;
	padding-bottom: 10px;
}

.razdel_block_news_item .post_data,.lenta_block_item .post_data, .article_block .post_data {
	background-image: url('../images/dico2.png');
}

.razdel_more_link {
	margin: 30px 0 30px 0;
	padding-left: 63px;
}
.razdel_more_link a {
	/*display: block;
	width: 280px;*/
	color: #646464;
	font-size: 15px;
	font-family: "PT Sans";
	font-weight: bold;	
	text-decoration: none;
   border-bottom: 2px solid #c0c0c0;
   padding: 8px 0;
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #e4e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e4e4e4));
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%,#e4e4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e4e4e4',GradientType=0 );		
}
.razdel_more_link a span {
	background-image: url('../images/morelinkico.png');
	background-position: 20px center;
	background-repeat: no-repeat;
	padding: 16px 20px 15px 44px;	
}
.razdel_more_link a:hover {
	background: #e7e7e7;
	background: -moz-linear-gradient(top, #e7e7e7 0%, #cfcfcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#cfcfcf));
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#cfcfcf 100%);
	background: -o-linear-gradient(top, #e7e7e7 0%,#cfcfcf 100%);
	background: -ms-linear-gradient(top, #e7e7e7 0%,#cfcfcf 100%);
	background: linear-gradient(to bottom, #e7e7e7 0%,#cfcfcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#cfcfcf',GradientType=0 );
}

.lenta_more_link {
	/*margin: 20px 0;*/
	padding: 15px;
}
.lenta_more_link a {
	display: block;
	width: 170px;
	color: #fff;
	font-size: 15px;
	font-family: "PT Sans";
	font-weight: bold;	
	text-decoration: none;
   border-bottom: 1px solid #000;
   padding: 8px 0;
	background: #626262;
	background: -moz-linear-gradient(top, #626262 0%, #4e4e4e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626262), color-stop(100%,#4e4e4e));
	background: -webkit-linear-gradient(top, #626262 0%,#4e4e4e 100%);
	background: -o-linear-gradient(top, #626262 0%,#4e4e4e 100%);
	background: -ms-linear-gradient(top, #626262 0%,#4e4e4e 100%);
	background: linear-gradient(to bottom, #626262 0%,#4e4e4e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626262', endColorstr='#4e4e4e',GradientType=0 );		
}
.lenta_more_link a span {
	background-image: url('../images/morelinkico2.png');
	background-position: 20px center;
	background-repeat: no-repeat;
	padding: 16px 20px 15px 44px;	
}
.lenta_more_link a:hover {
	background: #868686;
	background: -moz-linear-gradient(top, #868686 0%, #6e6e6e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#868686), color-stop(100%,#6e6e6e));
	background: -webkit-linear-gradient(top, #868686 0%,#6e6e6e 100%);
	background: -o-linear-gradient(top, #868686 0%,#6e6e6e 100%);
	background: -ms-linear-gradient(top, #868686 0%,#6e6e6e 100%);
	background: linear-gradient(to bottom, #868686 0%,#6e6e6e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#6e6e6e',GradientType=0 );
}

.razdel_banner_468 {
	margin-bottom: 20px;
	padding-left: 63px; 
}

.lenta_block_title {
	font-size: 20px;
	font-weight: 700;
	padding: 4px 0;
	color: #222222;
	border-bottom: 2px solid black;
	margin: 0px 8px 0px 15px;
	padding-top: 17px;
}
.article_page .lenta_block_title  {
	padding-top: 14px;
}
.lenta_block_datatitle {
	font-size: 16px;
	font-weight: 700;
	padding: 4px;
	color: #222222;
	border-bottom: 1px solid black;
	margin: 0px 15px 6px 15px;
	padding-top: 5px;	
}

.lenta_block_item {
	padding: 10px 15px;
	border-bottom: 1px solid #e9e9e9;
}
.lenta_block_item .post_data {
	text-transform: uppercase;
	margin-bottom: 2px;
}
.lenta_block_item .post_data span {
	padding: 0;
}
.lenta_block_item_link {
	font-size: 13px;	
	color: #2c2c2c;
	text-decoration: none;
	line-height: 16px;
	display: block;
}
.lenta_block_item_link:hover {
	text-decoration: underline;
}
.hotlenta {
	background-color: #fff9c2;
	margin-top: -1px;
	border-bottom: 1px solid #eee8b8;
	border-top:  1px solid #eee8b8;
}

.lenta_block .last {
	border-bottom: 0;
}

.part_block_title {
	font-size: 20px;
	font-weight: 700;
	padding: 4px 0;
	color: #222222;
	border-bottom: 2px solid black;
	margin: 0px 15px 6px 15px;
	padding-top: 0px;
}
.part_block_content {
	padding: 0 10px;
}

.article_block {
	padding-left: 63px;
	padding-top: 15px;
   width: 468px;
   padding-right: 19px;
}
.article_block h1 {
	margin-bottom: 10px;
}
.article_block_data {
	margin-bottom: 12px;
}
.article_block_content {
   font-size: 14px;
	line-height: 18px;	
}
.article_block_content a {
	text-decoration: underline;
	color: #193587;
} 
.article_block_content a:hover {
	color: #4778b9;
} 


.article_block_mainimg {
	
}
.article_block_imgauthor {
	color: #a7a7a7;
	font-size: 11px;
	margin-bottom: 15px;
	
}
.article_block_introtext {
	font-weight: 700;
	color: #606060;
	line-height: 26px;
	font-size: 16px;
}

.article_block_title {
	font-size: 20px;
	font-weight: 700;
	padding: 4px 0 0 0;
	color: #222222;
	border-bottom: 2px solid black;
	margin: 0px 0px 16px 0px;
	padding-top: 17px;
}

.shared_caption {
	font-weight: 700;
	color: #181818;
	font-size: 16px;
}


.article_dop_link_item {
	margin-bottom: 20px;
}
.article_dop_link_item_data {
	color: #848484;
	font-family: 'Arial';
	text-transform: uppercase;
	font-size: 10px;
}
.article_dop_link_item_link {
	font-size: 15px;
	color: #2c2c2c;
	line-height: normal;
	text-decoration: none;
	font-weight: 700;
}
.article_dop_link_item_link:hover {
	text-decoration: underline;
	color: #828282;
}


.article_dop_link .razdel_block_news_item {
	margin-bottom: 15px;
	padding-left: 0;
}
.article_dop_link .razdel_block_news_item_img {
	float: left;
	width: 130px;
}
.article_dop_link .razdel_block_news_item_linkblock {
	float: left;
	width: 320px;
}
.article_dop_link .razdel_block_news_item_link {
	font-size: 16px;
	line-height: 16px;
	color: #2c2c2c;
	font-weight: 700;
	text-decoration: none;
	margin: 6px 0;
	display: block;	
}
.article_dop_link .razdel_block_news_item_link:hover {
	text-decoration: underline;
}
.article_dop_link .fullwidth {
	width: 100%;
}


.news_block {
	padding-left: 0px;
	width: 677px;
	padding-right: 82px;
}
.news_block .article_block_title {
	margin-left: 63px;
	margin-right: 82px;
}
.news_block .razdel_block_news_item {
	margin-bottom: 15px;
	padding-left: 0;
	padding-left: 63px;
}
.news_block .razdel_block_news_item_img {
	float: left;
	width: 130px;
	
}
.news_block .hotitem .razdel_block_news_item_img {
	float: left;
	width: 130px;
	padding-left: 63px;
}
.news_block .razdel_block_news_item_linkblock {
	float: left;
	width: 545px;
}
.news_block .razdel_block_news_item_link {
	font-size: 16px;
	line-height: 16px;
	color: #2c2c2c;
	font-weight: 700;
	text-decoration: none;
	margin: 6px 0;
	display: block;	
}
.news_block .razdel_block_news_item_link:hover {
	text-decoration: underline;
}
.news_block .fullwidth {
	width: 100%;
}
.news_block_content .hotitem {
	padding-left: 0px;
	padding-right: 10px;
}
.news_block_content .hotitem .razdel_block_news_item_linkblock {
	width: 470px;
	padding-left: 0px;
}
.news_block_content .hotitem .fullwidth {
	padding-left: 63px;
	width: 677px;


}
/*.news_block_content .razdel_more_link {
	padding-left: 0;
	margin-top: 20px;
}
.news_block_content .razdel_banner_468  {
	padding-left: 0;
}*/

.modify_news_block {
	width: 821px;
	padding-right: 0px;
}

.big_search_form {
	background-image: url('../images/bigsf.gif');
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-left: 63px;
	/*padding-top: 18px;*/
	padding-bottom: 24px;
	padding-right: 112px;
	background-color: #f2f2f2;
	margin-bottom: 20px;	
}
.big_search_form input.biginput {
	color: #959595;
	font-size: 15px;
	padding: 12px;
	border: 0;
	border-top: 2px solid #c1c1c1; 
	border-left: 1px solid #c1c1c1;
	border-radius: 2px;
	background-color: white;
	width: 100%;
}
.search_block_title {
	font-size: 20px;
	line-height: 21px;
	color: #2c2c2c;
	font-weight: 700;
	margin-bottom: 18px;
	padding-top: 18px;
}

.search_block_search_on_title {
	position: absolute;
	font-size: 14px;
	line-height: 21px;
	color: #2c2c2c;
	margin-left: 532px;
	top: 18px;
}

.search_block_search_on_title input {
	position: relative;
	top: -1px;
}

.subsearch_menu {
	margin-top: 20px;
}
ul.search_menu {
    display: table;
    width: 677px;
    border: 0px solid #222;
    padding: 0;
}
ul.search_menu li {
    display: table-cell;
}
ul.search_menu li a {
    display: block;
    text-decoration: none;
    padding: 6px 3px;
    margin-right: 5px;
    text-align: center;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 700;
    color: #565656;
    border-radius: 3px;
    background-color: #dcdcdc;
}
ul.search_menu li a:hover, ul.search_menu li.act a {
    color: #fff;     
}


ul.search_menu .act .menuitem1, ul.search_menu .menuitem1:hover { 	background-color: #306cc7; }
ul.search_menu .act .menuitem2, ul.search_menu .menuitem2:hover  { 	background-color: #8e44ad; }
ul.search_menu .act .menuitem3, ul.search_menu .menuitem3:hover  { 	background-color: #00a3cb; }
ul.search_menu .act .menuitem4, ul.search_menu .menuitem4:hover  { 	background-color: #009a4d; }
ul.search_menu .act .menuitem5, ul.search_menu .menuitem5:hover  { 	background-color: #c12945; }
ul.search_menu .act .menuitem6, ul.search_menu .menuitem6:hover  { 	background-color: #b0a62e; }
ul.search_menu .act .menuitem7, ul.search_menu .menuitem7:hover  { 	background-color: #f26522; }
ul.search_menu .act .menuitem8, ul.search_menu .menuitem8:hover  { 	background-color: #6b7b84; }


.modify_news_block .news_block_content {
	padding-right: 82px;
}

.partner_block_nomargin {
	margin-top:0; 
}

#fade { 
	display: none; 
	background: #030c26;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .89;
	z-index: 99;
}




.topkurs {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 14px;
	margin-right: 9px;
	padding-right: 4px;
	float: left;
	font-size: 15px;
	color: white;
}
.dollar { background-image: url('../images/dollar.png'); 	}
.euro { background-image: url('../images/euro.png'); margin-right:0; padding-left: 18px;	}
.topkurs span {

   padding: 0 4px;   
   margin-left: 4px;
	background-position: left center;
	background-repeat: no-repeat;   
}
.topkurs span.up { background-image: url('../images/up.png');	}
.topkurs span.down { background-image: url('../images/down.png');	}

#infscr-loading {
	margin: 0px auto;
	width: 200px;
	text-align: center;
	padding-left: 49px;
	font-size: 11px;
	transition: none;
}

.lenta_block_scroll
{
	/*width: 100%;*/
/*	height: 600px;*/
	overflow: auto;
}

/* SiZereD*/

@media screen and (max-width: 1120px) {
	#wrapperpage {
		width: 1000px;
		margin: 0 auto;
		min-height: 100%;
		height: auto !important;
		height: 100%;
   	padding-top: 8px;
	}
	#footer {
		width: 1000px;
		background: #181818;
		color: white;
		position: relative;
	}
	.lead_block {	width: 487px; }	
	.razdel_block_news_item {	padding-left: 15px; }
	.razdel_caption {	padding-left: 15px; }	
	.razdel_block_news_item_linkblock { width: 310px; }
	.fullwidth { width: 100%; }
	.razdel_more_link { padding-left: 15px; }
	.razdel_banner_468 { padding-left: 0 }
	.footcontent {  margin: 24px 15px 0; }
	#footer nav { padding-left: 15px; }
	#index_offset_area { margin-left: 0 }
	.textpage_subheader { width: 1000px; }		
	.article_block { padding-left: 15px; padding-right: 15px; }		
	.news_block { padding-left: 15px; padding-right: 67px; }		
}

.input {
	color: #959595;
	font-size: 18px;
	padding: 5px;
	border: 0;
	border-top: 2px solid #c1c1c1; 
	border-left: 1px solid #c1c1c1;
	border-radius: 2px;
	background-color: white;
	width: 300px;
}

.btn {
	float: left;
	width: 140px;
	height: 39px;
	color: #646464;
	font-size: 15px;
	font-family: "PT Sans";
	font-weight: bold;
	text-decoration: none;
	border: 0px;
	border-bottom: 2px solid #c0c0c0;
	padding: 8px 0;
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #e4e4e4 100%);
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e4e4e4)); */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%,#e4e4e4 100%);
}

.btnsub {
	float: left;
	width: 40px;
	height: 39px;
	color: #646464;
	font-size: 15px;
	font-family: "PT Sans";
	font-weight: bold;
	text-decoration: none;
	border: 0px;
	border-bottom: 2px solid #c0c0c0;
	padding: 8px 0;
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #e4e4e4 100%);
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e4e4e4)); */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%,#e4e4e4 100%);
}

.btnsub:hover, .btn:hover {
	background: #e7e7e7;
	background: -moz-linear-gradient(top, #e7e7e7 0%, #cfcfcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#cfcfcf));
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#cfcfcf 100%);
	background: -o-linear-gradient(top, #e7e7e7 0%,#cfcfcf 100%);
	background: -ms-linear-gradient(top, #e7e7e7 0%,#cfcfcf 100%);
	background: linear-gradient(to bottom, #e7e7e7 0%,#cfcfcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#cfcfcf',GradientType=0 );
}

.col-lg-1 {
	font-size: 16px;
	font-weight: bold;
}

.sort {
	padding-left: 62px;
	padding-bottom: 40px;
}

.sort a {
	color: silver;
}

.sort .sortDate {
	width: 70px;
	float: left;
	border: 1px solid;
	text-align: center;
	margin-right: 10px;
	padding: 2px;
}

.sort .down {
	width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid silver;
    position: relative;
    top: 12px;
    left: 5px;
}

.sort .up {
	width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid silver;
    position: relative;
    bottom: 10px;
    left: 5px;
}

.active {
	color: #0E98B9;
}

.active .down {
	border-top: 7px solid #0E98B9 !important;
}

.active .up {
	border-bottom: 7px solid #0E98B9 !important;
}



.sort .sortRelevance {
	width: 120px;
	float: left;
	border: 1px solid;
	text-align: center;
	padding: 2px;
}
.sub {
	float: left;
	margin-right: 10px;
	color: #615f4c;
	font-size: 14px;
	padding: 5px;
	padding-bottom: 6px;
	border: 0;
	border-top: 2px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	border-radius: 2px;
	background-color: white;
	width: 375px;
	height: 26px;
	background: url(/images/mail.png) no-repeat scroll 7px 11px;
	padding-left:36px;
	background-color: #fff9c2;
	margin-bottom: 10px;
}

 #modal-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		opacity: 0.8;
        z-index: 1000;
    }
    
    #modal-content {
        background-color: white;
        border: 5px solid #e8e8e8;
        text-align: center;
        display: none;
        height: 55px;
        left: 50%;
        margin: -120px 0 0 -160px;
        padding: 20px;
        position: absolute;
        top: 10%;
        width: 380px;
        z-index: 1000;
    }

    #modal-text {
    	color: #49494b;
    	font-family: PT Sans;
    	font-size: 21px;
    }

    #modal-background.active, #modal-content.active {
        display: block;
    }

    div.today_block {
    	float: left;
    	width: 341px;
    }

    div.rss {
    	float: left;
    }

    .rss a {
    	text-decoration: none;
    }

    .rss .icon {
    	background-image: url('../images/rss.png');
    	background-position: left center;
		background-repeat: no-repeat;
		padding-left: 16px;
		padding-top: 3px;
		color: #86b5ea;
		font-size: 12px;
		font-weight: bold;

    }

    .footmenu .icon {
    	background-image: url('../images/rss-footer.png');
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 16px;
		padding-top: 3px;
		font-size: 12px;
    }

    .list_subscribe_email {
    	padding: 5px;
    }
