* html #wrapper,
* html #footer {
	width: expression((documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'');
}

div9 {
	border: 2px solid;
}


b {
	letter-spacing: 0.2px;
}